.otp-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 2rem;
  margin-bottom: 20px;
}

.otp-inputs input {
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 22px;
  border: 1px solid var(--border);
  background: var(--card);
  color: var(--muted-foreground);
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
}

.otp-inputs input:focus {
  border-color: var(--primary);
  color: var(--card-foreground);
  box-shadow: 0px 0px 8px var(--primary-hover);
}

.resend-section {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.resend-btn {
  background: none;
  border: none;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.resend-btn:hover {
  text-decoration: underline;
}